*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:active {
    text-decoration: none;
    color: rgb(0, 0, 0); 
}
.df-main-nosotros{
    background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,11,11,1) 0%, rgba(245,255,0,1) 100%, rgba(121,108,9,0.5158438375350141) 100%);
}

.df-header{
    justify-content: space-between;
    align-items:center;
    background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,11,11,1) 0%, rgba(245,255,0,1) 100%, rgba(121,108,9,0.5158438375350141) 100%);
    flex-direction: column;
    padding: 5px;
}
.df-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.df-ul li{
    margin: 10px;
}
.main{
    background-color: red;
}
.df-main-contacto{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 20px 0;
}
.main-form{
    width: 80vw;
    margin: 10px 0;
    background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,11,11,1) 0%, rgba(245,255,0,1) 100%, rgba(121,108,9,0.5158438375350141) 100%);
    border-radius: 10px;
    padding: 10px;
}
.contenido{
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.ul-list{
    list-style: none;
    padding: 10px;
    display: flex;
    margin: 10px;
    
}
.imagenes{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(167,25,25,1) 0%, rgba(117,121,9,0.5158438375350141) 100%, rgba(0,212,255,1) 100%);
}
.bg-footer{
    background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,11,11,1) 0%, rgba(245,255,0,1) 100%, rgba(121,108,9,0.5158438375350141) 100%);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
  }
  
  .grid-item {
    background: rgb(255,179,0);
    background: radial-gradient(circle, rgba(255,179,0,1) 0%, rgba(255,0,0,1) 100%);
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  @media screen {
    
  }